{% include 'base.html' %} {% load crispy_forms_tags %}
<!-- Post Content-->
<article class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        {{blogdetale.text}}
        <form method="post" action="">
          {% csrf_token %}
          <br />

          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"
              >محتوا متن</label
            >
            <textarea
              required
              name="text"
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="3"
            ></textarea>
          </div>

          <button type="submit" class="btn btn-primary">ارسال</button>
        </form>
      </div>
      <div class="col-md-2">
        
         {% for comment in comments %}{{comment.text}} <br />{% endfor%}
      </div>
    </div>
  </div>
</article>
